* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: 100px;
}

#las {
    color:red;
    background-color:yellow;
}

#broc {
    color:darkgreen;
    background-color: lightgreen;
}

#cook {
    color:black;
    background-color: rgb(165, 65, 39);
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

